<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>angularhw082515</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap_theme.min.css">
	<link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body>


<ui-view></ui-view>
	
	<!-- Angular -->
	<script src="/angular/angular.js"></script>
	<!-- Router -->
	<script src="/angular-ui-router/release/angular-ui-router.js"></script>
	<!-- Bootstra p -->
	<script src="/angular-bootstrap/ui-bootstrap.js"></script>
	<script src="/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<!-- Javascript -->
	<script src="/javascript/app.js"></script>
	<!-- Factories -->
	<script src="/factories/photosFactory.js"></script>
	<!-- Controllers -->
	<script src="/photos/photosController.js"></script>
	<script src="/create/createController.js"></script>
	<script src="/info/infoController.js"></script>
	<script src="/edit/editController.js"></script>
	<script src="/filter/toUppercaseFilter.js"></script>
	<script src="/filter/searchFilter.js"></script>

</body>
</html>
